.settings/
conf/
eclipse/
bin/
.classpath
.project
CREDITS-fml.txt
LICENSE-fml.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
README.txt
Setup.bat
builder.bat
forge-1.7.10-10.13.0.1180-changelog.txt
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
gradlew
gradlew.bat
cmd.lnk
forge-1.7.10-10.13.0.1188-changelog.txt
.metadata/
.gradle/
forge-1.7.10-10.13.4.1492-1.7.10-changelog.txt
conf/
tags
CurrentPlansTodo.txt
status.txt
